<mat-card>
  <mat-form-field>
  <input matInput type="text" placeholder="Name" required>
</mat-form-field>
<br>
<mat-form-field appearance="legacy">
<input matInput type="number" placeholder="Contact No." required>
</mat-form-field>
<br>
<mat-form-field appearance="legacy">
  <input matInput type="text" placeholder="Country" required>
</mat-form-field>
<br>
<mat-form-field appearance="legacy">
  <input matInput type="text" placeholder="E-mail" required>
</mat-form-field >
<br>
<mat-form-field appearance="legacy">
  <input matInput type="password" placeholder="Password" required>
</mat-form-field>
<br>
<mat-form-field appearance="legacy">
<input matInput type="password" placeholder="Re-Enter Password" required>
</mat-form-field>
<br>
<button matButton>Save Data</button>

</mat-card>
